
<h1>Courses</h1>
<ul>
    {{#each courses}}
        <li>
            <h4 class="title">{{title}}</h4>
            <p>{{this.desc}}</p>
            <a class="btn" href="/courses/{{this._id}}" type="button">See details</a>
            <a class="btn" href="/courses/{{this._id}}/edit?allow=true" type="button">Edit</a>
            <a class="btn blue" href="/card/add/{{this._id}}">Add to card</a>
        </li>
    {{/each}}
</ul>