
<h1>Courses</h1>
<ul>
    {{#each courses}}
        <li>

            {{courses}}
            <h4 class="title">{{this.title}}</h4>
            <p>{{this.desc}}</p>
              <a class="btn" href="/courses/{{this._id}}" type="button">See details</a>
            {{#if @root.isAuth}}
                <a class="btn" href="/courses/{{this._id}}/edit?allow=true" type="button">Edit</a>
                <a class="btn blue" href="/card/add/{{this._id}}">Add to card</a>
            {{/if}}
        </li>
    {{/each}}
</ul>